# Python
*.pyc
__pycache__/
*.pyo
*.pyd

# Jupyter Notebook
.ipynb_checkpoints/

# Virtual Environment
venv/
env/
.venv/
.env/
ENV/

# IDE
.vscode/
.idea/

# Compiled Python files
*.pyc
*.pyo
*.pyd

# macOS
.DS_Store

# Windows
Thumbs.db
